.bphoto	{
	background-image: url(../images/ansel-portrait.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 10px;
}
.title	{
	font-size: 50px;
	color: #ec7e38;
	padding-bottom: 0px;
	margin: 0px;
}
.sub	{
	font-size: 40px;
	color: #ec7e38;
	margin: 5px;
	padding-bottom: 5px;
}
.button	{
	font-size: 30px;
	color: white;
	background-color: #ec7e38;
	border-radius: 10px;
	padding: 5px;
	text-decoration: none;
}
a:visited	{
	font-size: 30px;
	color: white;
	background-color: #e89d74;
	border-radius: 10px;
	padding: 5px;
	text-decoration: none;
}
a:hover	{
	font-size: 30px;
	color: white;
	background-color: #ec7e38;
	border-radius: 10px;
	padding: 5px;
	text-decoration: none;
}