.wrapper	{
	width: 90%;
	margin: 0 auto;
	background-color: grey;
}
h1	{
	text-align: center;
}
#leftcol	{
	float: left;
	width: 50%;
	background-color: blue;
}
#rightcol	{
	float: right;
	width: 20%;
	background-color: green;
	margin-left: 2%;
	margin-right: 2%;
}
.cleared	{
	display: flow-root;
}
header	{
	width: 98%;
	margin: 0 auto;
	padding-top: 20px;
}
#banner 	{
	width: 100%;
}
body	{
	background-color: blue;
}
.flex-container	{
	display: flex;
	background-color: gray;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;

}
.flex-container > div	{
	background-color: orange;
	padding: 10px;
	margin: 10px;
}