body, html {
    background-color: #f6f6f6;
}
#painting {
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px #8d8d8d;
}
.pink {
    background-color: #FF1EBB;   
}
.blue {
    background-color: #1EFFEB; 
}
.yellow {
    background-color: #D9F23A;   
}
.orange {
    background-color: #E3890F;
}
.green  {
    background-color: #56E30F;
}
.black {
    background-color: #000000;   
}
.right {
	float: right;
}
#row1   {
    height: 90px;
}
#row2   {
    height: 80px;
}
#row3   {
    height: 100px;
}
#row4   {
    height: 90px;
}
#column1    {
    width:150px;
}
#box1 {
    height:90px;
    width:290px;
}
#box2 {
    height:90px;
    width:100px;
}
#box3 {
    height:80px;
    width:150px;
}
#box4 {
    height:100px;
    width:90px;
}
#box4-2 {
    height:100px;
    width:100px;
}
#box5 {
    height:100px;
    width:50px;
}
#box6{
    height:100px;
    width:300px;
}
#box7   {
    height: 80px;
    width: 240px;
}
#ninetydiv{
    height: 90px;
    width: 10px;
}
#eightydiv  {
    height: 80px;
    width: 10px;
}
#hundred    {
    height: 100px;
    width: 10px;
}
#wholebar   {
    height: 10px;
    width: 400px;
}
#uselessbar {
    height: 10px;
    width: 150px;
}