body	{
	background-color: #8342E6;
	color: white;
}
div	{
	font-size: 20px;
	text-align: center;
}
.banner	{
	width: 100%;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
}
.box	{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 20px;
	margin:10px;
	margin-bottom: 10px;
	border:2px	black solid;
}
a	{
	 background-color: #45CECE;
	 padding: 10px;
	 border-radius: 20px;
	 text-decoration: none;
	 color: white;
}
a:hover	{
	background-color: white;
	 padding: 10px;
	 border-radius: 20px;
	 text-decoration: none;
	 color: #45CECE;
}
.main1 {
	flex:1;
	border-right: 2px black solid;
}

.main2 {
	flex:2;

	border-top: 2px;
	border-bottom: 2px;
}

.main3 {
	flex:1;
	border-left: black solid 2px;
	padding: 0 auto;
}

h2	{
	font-family: Tahoma, Geneva, sans-serif;
}
li	{
	margin: 20px;
}
.profilepic	{
	width: 50%;
	
}
p	{
	width: 80%;
	font-family: ;
	font-size: 20px;
	text-align: center;

}
.float	{
	float: right;
}
.pagepic	{
	width: 30%;
}